# Disable PHP & CGI Script Execution in Uploads Directory
<IfModule mod_php7.c>
  php_flag engine off
</IfModule>
<IfModule mod_php.c>
  php_flag engine off
</IfModule>
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .phps .cgi .pl .py .asp .exe
SetHandler default-handler
Options -ExecCGI -Indexes
